################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Enterprise_Azure_Integration-OMS-to-D365-via-AIS/FileContentIndex
.vs/
.vs/config/
.vs/*
